.git
.venv
*__pycache__*
*history*
*cache*
*.csv
logs
.coverage
coverage.xml
edits_by_date
openapi-reference.json
temp
testing.py
credentials.env
vdbpy.egg-info/dependency_links.txt
.gitignore
vdbpy.egg-info/requires.txt
vdbpy.egg-info/top_level.txt
.gitignore
vdbpy.egg-info/PKG-INFO
.gitignore
vdbpy.egg-info/SOURCES.txt
